<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunland.jwyxy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="flavour"
            android:value="${FLAVOUR_VALUE}" />
        <meta-data
            android:name="category"
            android:value="${CATEGORY_VALUE}" />
        <meta-data
            android:name="plateform"
            android:value="${PLATEFORM_VALUE}" />

        <activity
            android:name=".activities.Ac_splash"
            android:theme="@style/AppTheme.splash">
            <intent-filter>
                <action android:name="${PLATEFORM_VALUE}.intent.action.MAIN" />
                <category android:name="${PLATEFORM_VALUE}.intent.category.${CATEGORY_VALUE}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Ac_login"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activities.Ac_main"
            android:launchMode="singleTask" />
        <activity android:name=".activities.Ac_paper_list" />
        <activity android:name=".activities.Ac_paper_frame" />
        <activity android:name=".activities.Ac_review_mode" />
        <activity android:name=".activities.Ac_review_frame" />
        <activity android:name=".activities.Ac_history"></activity>
    </application>

</manifest>